## MongoDB

1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

**Ans: MongoDB is a document-oriented database program.It is a NoSQL database program. MongoDB uses JSON-like documents with optional schemas. Non relational databases are NoSQl databases.NoSQL stands for 'Not only SQL'.Nosql databases are non tabular
databases and store data different than relational tables like SQL.The type of data that a NoSQL database can store varies depending on the database and needs of the users,but the most common type of data stored by NoSQL databases is documents,key value pairs,graphs,etc.These databases are called unstructured because they allow flexible schemas.They can be scaled easily too.**    

**NoSQL database like MongoDB can be used when the data that we want to store don't have a fixed schema and we want something that can accept data in any structure in forms of documents(which are in json format) .**    

**When deciding which database to use, decision-makers typically find one or more of the following factors lead them to selecting a NoSQL database:**   

1. **Fast-paced Agile development**
2. **Storage of structured and semi-structured data**
3. **Huge volumes of data**
4. **Requirements for scale-out architecture**
5. **Modern application paradigms like microservices and real-time streaming**

2.  State and Explain the features of MongoDB

**Ans: These are some important features of MongoDB:**  

**1.Support ad hoc queries : In MongoDB, you can search by field, range query and it also supports regular expression searches.**  

**2.Indexing : You can index any field in a document.**  

**3.Replication : MongoDB supports Master Slave replication.A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)**  

**4.Duplication of data : MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.**  

**5.Load balancing : It has an automatic load balancing configuration because of data placed in shards.**  

**6.Supports map reduce and aggregation tools.**  

**7.Uses JavaScript instead of Procedures.**  

**8.It is a schema-less database written in C++.**  

**9.Provides high performance.**  

**10.Stores files of any size easily without complicating your stack.**    

**11.Easy to administer in the case of failures.**  

**12.It also supports:**  
**JSON data model with dynamic schemas**  
**Auto-sharding for horizontal scalability**    
**Built in replication for high availability**

3.  Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb+srv://dhyaneshpk10:pswd@cluster0.ebknb2k.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
#creating a database
mydb = client["testdb"]

In [4]:
#creating a collection
my_coll = mydb["testcoll"]

4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
#creating data to insert

data1 = {
    "name" : "Dhyan",
    "class" : "Data Science",
    "email" : "dhyan@gamil.com"
        }

In [6]:
data2 = [{"_id" : "3",
          "name" : "Rudy",
         "class" : "Security",
          "email" : "rudy@gmail.com"
         },
         {"_id" : "4",
          "name" : "Mayur",
         "class" : "Web Dev",
          "email" : "mayur@gmail.com"
         },
         {"_id" : "5",
          "name" : "Shubham",
         "class" : "Security",
          "email" : "shubham@gmail.com"
         }
    
        ]

In [7]:
#using insert_one() method to insert one document 
my_coll.insert_one(data1)

In [8]:
#using insert_many() method to insert multiple documents ,these json objects/dictionaries should be inside an 
#iterator like a list

my_coll.insert_many(data2)

In [9]:
# using find() to find all the available records in the collection

for i in my_coll.find():
    print(i)

{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}
{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '4', 'name': 'Mayur', 'class': 'Web Dev', 'email': 'mayur@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

In [12]:
for i in my_coll.find({'class': 'Security'}):
    print(i)

{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

In [10]:
# using find_one to find the first document

my_coll.find_one()

{'_id': ObjectId('63efd5ccd2580d7110f7041d'),
 'name': 'Dhyan',
 'class': 'Data Science',
 'email': 'dhyan@gamil.com'}

In [11]:
my_coll.find_one({'class': 'Security'})

{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}

5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

**Ans: The find() method is used to query the MongoDB database collection.If no arguements are passed it will return every document present is the collection.We can pass a key value pair inside {} to get those documents only.**  
**example: db.test.find({"hello": "world"})**  
**This will only matches documents that have a key "hello" with value "world".**

In [13]:
#using find() to find all documents
for i in my_coll.find():
    print(i)

{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}
{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '4', 'name': 'Mayur', 'class': 'Web Dev', 'email': 'mayur@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

In [14]:
# using find to find paritcular key value pair
for i in my_coll.find({'class': 'Security'}):
    print(i)

{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

**Ans : The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.**

In [34]:
# using sort to get documents in ascending order of name

asc_name = my_coll.find().sort("name")

In [35]:
for i in asc_name:
    print(i)

{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}
{'_id': '4', 'name': 'Mayur', 'class': 'Web Dev', 'email': 'mayur@gmail.com'}
{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

In [37]:
# using sort to get documents in descending order of name

dsc_name = my_coll.find().sort("name",-1)

In [38]:
for i in dsc_name:
    print(i)

{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}
{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '4', 'name': 'Mayur', 'class': 'Web Dev', 'email': 'mayur@gmail.com'}
{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}

7. Explain why delete_one(), delete_many(), and drop() is used.

**Ans :**  
**delete_one() : It is used to delete one document.The first parameter of the delete_one() method is a query object defining which document to delete.**  

**delete_many() : It is used to delete more than one document.The first parameter of the delete_many() method is a query object defining which documents to delete.If we pass empty {} in it , it will delete all the documents in the collection.**      

**drop() : It is used to drop a collection.**

In [39]:
#delete_one() example

my_coll.delete_one({"class": "Web Dev"})

In [40]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}
{'_id': '3', 'name': 'Rudy', 'class': 'Security', 'email': 'rudy@gmail.com'}
{'_id': '5', 'name': 'Shubham', 'class': 'Security', 'email': 'shubham@gmail.com'}

As you can see, document with "class": "Web Dev" is deleted.

In [41]:
#delete_many() example
my_coll.delete_many({'class': 'Security'})

In [42]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('63efd5ccd2580d7110f7041d'), 'name': 'Dhyan', 'class': 'Data Science', 'email': 'dhyan@gamil.com'}

As you can see both the documents with 'class': 'Security' are deleted

In [43]:
#drop() example

my_coll.drop()

In [44]:
for i in my_coll.find():
    print(i)

As you can see the for loop does not return anything as the collection called is dropped